<div class="content-wrap" ng-controller="inventoryAdjustmentController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="kendoGrid">
            <div class="panel-group">
                <label>调整开始时间:</label>
                <wms-Date-Time-Picker id="startTime" is-query="true" format="yyyy/MM/dd 00:00:00"/>
            </div>
            <div class="panel-group">
                <label>调整结束时间:</label>
                <wms-Date-Time-Picker id="endTime" is-query="true" format="yyyy/MM/dd 23:59:59" />
            </div>
            <div class="panel-group">
                <label>调整单号:</label><input type="text" ng-model="query.id" class="js_wms_number" />
            </div>

            <div class="panel-group">
                <label>调整原因:</label>
                <div class="panel-select">
                    <l-select src="AmountAdjustReason" name="query.resonCode" id="query.resonCode"></l-select>
                </div>
            </div>

            <div class="panel-group">
                <label>盘点单号:</label><input type="text" ng-model="query.cycleCountId" class="js_wms_number" />
            </div>
            <div class="panel-group">
                <label>商品条码:</label><input type="text" ng-model="query.skuBarcode" />
            </div>
            <div class="panel-group">
                <label>商品名称:</label><input type="text" ng-model="query.skuItemName" />
            </div>
            <div class="panel-group">
                <label>创建人:</label><input type="text" ng-model="query.createUser" />
            </div>
            <div class="panel-group">
                <label>修改人:</label><input type="text" ng-model="query.updateUser" />
            </div>
            <div class="panel-group">
                <label>数据来源:</label>
                <div class="panel-select">
                    <l-select src="AutoGenType" name="query.isAutoGen" id="query.isAutoGen"></l-select>
                </div>
            </div>
        </panel_heading_search>
        <div class="panel-body">
            <div kendo-grid="kendoGrid" options="mainGridOptions">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active">库存调整明细</li>
                            <li>基本信息</li>
                        </ul>

                        <div>
                            <div kendo-grid k-options="adjustDetailOptions(dataItem)"></div>
                        </div>
                        <div>
                          <div class="bas-info border-none child-table-main">
                            <div>
                              <form class="wrapper-md">
                                <div class="clearfix">
                                  <div class="panel-group p-r-30 m-b-10"><label class="child-lab">调整单号</label>
                                    <span class="child-span"  ng-bind="dataItem.id"></span></div>
                                  <div class="panel-group p-r-30 m-b-10"><label class="child-lab">仓库名称</label>
                                    <span class="child-span"  ng-bind="dataItem.warehouseId|whFormat"></span></div>
                                  <div class="panel-group p-r-30 m-b-10"><label class="child-lab">商家名称</label>
                                    <span class="child-span"  ng-bind="dataItem.storerId|storerFormat"></span></div>
                                  <div class="panel-group p-r-30 m-b-10"><label class="child-lab">调整原因</label>
                                    <span class="child-span"  ng-bind="dataItem.resonCode|codeFormat:'AmountAdjustReason'"></span></div>
                                  <div class="panel-group p-r-30 m-b-10"><label class="child-lab">盘点单号</label>
                                    <span class="child-span"  ng-bind="dataItem.cycleCountId"/>
                                  </div>
                                  <div class="remark m-b-10">
                                    <div class="panel-bas-group"><label class="child-lab">备注</label><span ng-bind="dataItem.memo" class="child-textarea ng-binding"></span></div>
                                  </div>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div>
                    </kendo-tabstrip>
                </div>
            </div>
        </div>
    </div>

    <div kendo-window="skuPopup" k-title="'SKU选择'" k-modal="true"
         k-width="600" k-height="400" k-visible="false"
         k-content="{ url: './tmpl/popup/sku.html'}"></div>

    <!--货位选择-->
    <div kendo-window="locationPopup" k-title="'货位'" k-modal="true"
         k-resizable="false"
         k-width="630" k-height="400" k-visible="false"
         k-content="{ url: './tmpl/popup/location.html' }"></div>
</div>

<!-- 新增模版 -->
<script id="form-add" type="text/x-kendo-template">
    <div class="edit-form-container">

        <div class="window-form clearfix">
            <div class="pure-control-group p-b-5 pure-5">
                <label>商家</label>
                <wms-ui-select ui-select-name="storerId" ui-select-id="storerId" src="storer" on-select=$parent.storerIdChange($item,$models) ng-disabled="!dataItem.isNew()"></wms-ui-select>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>调整原因</label>
                <div class="panel-select">
                    <l-select src="AmountAdjustReason" name="resonCode" id="resonCode"></l-select>
                </div>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>盘点单号</label>
                <input id="cycleCountId" name="cycleCountId" type="text" disabled="disabled" />
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>备注</label>
                <input id="memo" name="memo" type="text"/>
            </div>
        </div>

    </div>
</script>

<script id="adjustDetail-editor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="window-form ">
            <div class="clearfix">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>调整行号</label>
                    <input type="text" disabled="disabled" value="自动生成">
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>参考行号</label>
                    <input type="text" name="referLineNo" id="referLineNo" >
                </div>
                <wms-popup-input data-type="location" data-item="dataItem" data-label="指定货位" data-errorMsg="请输入合法的货位号!" data-popup="$parent.locationPopup" validate-value-fn="checkLocationNo(dataItem)"></wms-popup-input>
                <div class="pure-control-group p-b-5">
                    <!--<label>箱号</label>-->
                    <!--<input type="text" name="cartonNo" id="cartonNo"/>-->
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>原库存状态</label>
                    <input type="text" id="originalInvStatus" disabled="disabled" value="{{dataItem.originalInvStatusCode | codeFormat:'InventoryStatus'}}"/>
                    <input type="hidden" id="originalInvStatusCode" name="originalInvStatusCode"/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>新库存状态</label>
                    <div class="panel-select">
                        <!--<l-select ng-change="changeInventoryStatus()" src="InventoryStatus" name="newInvStatusCode" id="newInvStatusCode"  ></l-select>-->
                        <select ng-change="changeInventoryStatus()" name="newInvStatusCode" id="newInvStatusCode" ng-model="dataItem.newInvStatusCode">
                            <option value="Good">正品</option>
                            <option value="Bad">残品</option>
                        </select>
                    </div>
                </div>
                <wms-popup-input data-type="sku" data-item="dataItem" data-label="商品条码"
                               data-errorMsg="请输入合法的商品条码!" data-popup="$parent.skuPopup" validate-value-fn="checkSkuBarcodeNo(dataItem, '1')"></wms-popup-input>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>商品名称</label>
                    <input type="text" name="skuItemName" id="skuItemName"/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>当前库存量</label>
                    <input type="text" name="originalQty" id="originalQty" disabled="disabled"/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>目标数量</label>
                    <input type="text" name="adjustedQty" id="adjustedQty" data-minqty="0" />
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>原成本价</label>
                    <input type="text" name="originalPrice" id="originalPrice" disabled="disabled"/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>新成本价</label>
                    <input type="text" name="newPrice" id="newPrice"/>
                </div>

            </div>
            <div class="pure-control-group">
                <label class="panel-label-left">备注</label>
                <textarea class="tear-text" role="20" cols="50" id="description" name="description"></textarea>
            </div>
        </div>

    </div>
</script>
