<div class="content-wrap" ng-controller="inventoryCycleController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="cycleHeaderGrid">
          <div class="panel-group">
              <label>开始时间:</label>
              <!--<input type="date" ng-model="query.startTime" />-->
              <wms-Date-Time-Picker id="startTime" is-query="true" format="yyyy/MM/dd 00:00:00"/>
          </div>
          <div class="panel-group">
              <label>结束时间:</label>
              <!--<input type="date" ng-model="query.endTime" />-->
              <wms-Date-Time-Picker id="endTime" is-query="true" format="yyyy/MM/dd 23:59:59"/>
          </div>
          <div class="panel-group">
              <label>盘点单号:</label><input type="text" ng-model="query.id" /></div>
          <div class="panel-group">
              <label>SKU:</label><input type="text" ng-model="query.sku"/></div>
          <div class="panel-group">
              <label>商品名称:</label><input type="text" ng-model="query.itemName"/></div>
        </panel_heading_search>
        <div class="panel-body">
            <div kendo-grid="cycleHeaderGrid" options="mainGridOptions">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active">盘点明细</li>
                            <li>复核明细</li>
                        </ul>

                        <div>
                            <div kendo-grid k-options="cycleDetailOptions(dataItem)">
                            </div>
                        </div>
                        <div>
                            <div kendo-grid="cycleDetailReviewGrid" k-options="cycleDetailReviewOptions(dataItem)">
                            </div>
                        </div>
                    </kendo-tabstrip>
                </div>
            </div>
        </div>
    </div>
    <div kendo-window="skuPopup" k-title="'SKU'" k-modal="true"
         k-resizable="false"
         k-width="600" k-height="400" k-visible="false"
         k-content="{ url: './tmpl/popup/sku.html' }"></div>

    <div kendo-window="locationPopup" k-title="'货位'" k-model="true"
         k-resizable="false"
         k-width="600" k-height="400" k-visible="false"
         k-content="{url: './tmpl/popup/location.html' }"></div>

</div>


<script id="detail-form-edit" type="text/x-kendo-template">
    <div class="edit-form-container">

        <div class="pure-body p-t-10">
            <div class="pure-control-group p-b-5 pure-5">
                <label>实盘数量</label>
                <input type="text" id="countQty" name="countQty" required/>
            </div>
        </div>

    </div>
</script>
<!-- 新增模版 -->
<script id="form-add" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="window-form">
            <div class="clearfix">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>商家</label>
                    <div class="select-wrapper">
                        <div class="select-border"></div>
                        <r-select src="storer" name="storerId" id="storerId" required></r-select>
                    </div>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>盘点类型</label>
                    <div class="select-wrapper">
                        <div class="select-border"></div>
                        <select name="typeCode" id="typeCode" required>
                            <option value="ByLocation" label="按库位盘点">按库位盘点</option>
                            <option value="BlindCount" label="盲盘">盲盘</option>
                        </select>
                    </div>
                </div>
                <div class="pure-control-group p-b-5">
                    <label>盘点时间</label>
                    <wms-Date-Time-Picker id="operateTime"/>
                </div>
              <wms-popup-input data-type="location" data-item="dataItem" data-label="指定货位" data-errorMsg="请输入合法的货位号!" data-popup="$parent.locationPopup"></wms-popup-input>
            </div>
            <div class="pure-control-group p-b-5">
                <label class="panel-label-left">备注</label>
                <textarea class="tear-text" role="20" cols="50" id="memo" name="memo"></textarea>
            </div>
        </div>

    </div>
</script>
