<div class="content-wrap" ng-controller="inventoryMoveController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="inventoryMoveGrid">
                        <div class="panel-group ">
                            <label>移货开始时间</label>
                            <wms-Date-Time-Picker id="moveTimeFrom" is-query="true" format="yyyy/MM/dd 00:00:00"/>
                        </div>
                        <div class="panel-group ">
                            <label>移货结束时间</label>
                            <wms-Date-Time-Picker id="moveTimeTo" is-query="true" format="yyyy/MM/dd 23:59:59"/>
                        </div>
                        <div class="panel-group ">
                            <label>移货单号</label>
                            <input type="text" ng-model="query.id" class="js_wms_number" />
                        </div>
                        <!--<div class="panel-group ">-->
                            <!--<label>参考单号</label>-->
                            <!--<input type="text" ng-model="query.referNo" />-->
                        <!--</div>-->
                        <div class="panel-group ">
                            <label>移动原因</label>
                            <div class="panel-select">
                                <!--<l-select src="MoveReason" name="query.reasonCode" id="query.reasonCode"></l-select>-->
                                <select name="query.reasonCode" id="query.reasonCode" ng-model="query.reasonCode">
                                    <option value="">-- 请选择 --</option>
                                    <option value="Move">直接移货</option>
                                    <option value="Putaway">收货上架</option>
                                </select>
                            </div>
                        </div>
            <div class="panel-group">
                <label>数据来源</label>
                <div class="panel-select">
                    <l-select src="DataSource" name="query.datasourceCode" id="query.datasourceCode"></l-select>
                </div>
            </div>
            <div class="panel-group ">
                <label>商品条码</label>
                <input type="text" ng-model="query.skuBarcode"  />
            </div>
            <div class="panel-group ">
                <label>来源货位</label>
                <input type="text" ng-model="query.fromLocationNo"  />
            </div>
            <div class="panel-group ">
                <label>目的货位</label>
                <input type="text" ng-model="query.toLocationNo"  />
            </div>
        </panel_heading_search>
        <div class="panel-body">
            <div kendo-grid="inventoryMoveGrid" options="mainGridOptions"/>
        </div>
        <div kendo-window="skuPopup" k-title="'SKU'" k-modal="true"
             k-resizable="false"
             k-width="630" k-height="400" k-visible="false"
             k-content="{ url: './tmpl/popup/sku.html' }"></div>

          <div kendo-window="locationPopup" k-title="'货位'" k-model="true"
               k-resizable="false"
               k-width="630" k-height="400" k-visible="false"
               k-content="{url: './tmpl/popup/location.html' }"></div>
        </div>
    </div>
</div>
<script id="move-editor" type="text/x-kendo-template">
    <div class="edit-form-container">

        <div class="window-form">
            <div class="clearfix">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>移动单号</label>
                    <input type="text" disabled="disabled" value="自动生成">
                </div>
                <!--<div class="pure-control-group p-b-5 pure-5">-->
                    <!--<label>参考单号</label>-->
                    <!--<input type="text" id="referNo" name="referNo" />-->
                <!--</div>-->
                <!--<div class="pure-control-group p-b-5 pure-5">-->
                    <!--<label>商家</label>-->
                    <!--<div class="select-wrapper">-->
                        <!--<div class="select-border"></div>-->
                        <!--<r-select src="storer" name="storerId" id="storerId" required ng-disabled="!dataItem.isNew()"></r-select>-->
                    <!--</div>-->
                <!--</div>-->
                <div class="pure-control-group p-b-5 pure-5">
                    <label>移动原因</label>
                    <div class="select-wrapper">
                        <div class="select-border"></div>
                        <!--<l-select src="MoveReason" name="reasonCode" id="reasonCode" required></l-select>-->
                        <select name="reasonCode" id="reasonCode" required>
                            <option value="Move">直接移货</option>
                            <option value="Putaway">收货上架</option>
                        </select>
                    </div>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>数据来源</label>
                    <span class="inputDisbled" wms-label="DataSource.Manual" bind-name="datasourceCode"></span>
                </div>
                <!--<div class="pure-control-group p-b-5 pure-5">-->
                  <!--<label>移动箱号</label>-->
                  <!--<input type="text" id="fromCartonNo" name="fromCartonNo"/>-->
                  <!--<input id="toCartonNo" name="toCartonNo" type="hidden"/>-->
                <!--</div>-->
                <!--<div class="pure-control-group p-b-5 pure-5 pos-r ng-isolate-scope">-->
                    <!--<label>来源货位</label>-->
                    <!--<input type="text" id="fromLocationNo" />-->
                    <!--<input type="text" id="fromZoneId" name="fromZoneId" />-->
                    <!--<input type="text" id="fromLocationId" name="fromLocationId" />-->
                    <!--<i class="fa fa-bars fa-click"></i>-->
                    <!--<i class="fa fa-times-circle fa-clear"></i>-->
                <!--</div>-->

                <wms-popup-input data-type="location" data-prefix="from" data-item="dataItem"
                                 data-label="来源货位" data-errorMsg="请输入合法的货位号!" data-popup="$parent.locationPopup"
                                 validate-value-fn="validateFromLocationValue($event)" data-required="required"></wms-popup-input>
                <wms-popup-input data-type="location" data-prefix="to" data-item="dataItem"
                                 data-label="目的货位" data-errorMsg="请输入合法的货位号!" data-popup="$parent.locationPopup"
                                 validate-value-fn="validateToLocationValue($event)" data-required="required"></wms-popup-input>
                <div ng-if="!dataItem.isNew() && dataItem.skuId !== '0'">
                    <wms-popup-input data-type="inventorySku" data-item="dataItem" data-label="移动商品"
                                     window-open-fn="windowOpenForUpdate($event)" clear-value-fn="clearSkuInfo($event)" validate-value-fn="validateSkuValue($event)"
                                     data-required="required"></wms-popup-input>
                    <div class="pure-control-group p-b-5 pure-5">
                        <label>移动数量</label>
                        <input type="text" id="movedQty" name="movedQty" data-minqty="1" />
                    </div>
                </div>
            </div>
            <div class="pure-control-group p-b-5">
                <label class="panel-label-left">备注</label>
                <textarea class="tear-text" role="20" cols="50" id="memo" name="memo"></textarea>
            </div>
            <div kendo-grid="inventoryMoveSkuGrid" options="moveSkuGridOptions" ng-if="dataItem.isNew()"/>
        </div>

    </div>

</script>
