<div class="content-wrap" ng-controller="inventoryReplenishController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="replenishGrid">
                        <div class="panel-group">
                            <label>补货开始时间</label>
                            <wms-Date-Time-Picker id="replenishDateFrom" is-query="true" format="yyyy/MM/dd 00:00:00"/>
                        </div>
                        <div class="panel-group">
                            <label>补货结束时间</label>
                            <wms-Date-Time-Picker id="replenishDateTo" is-query="true" format="yyyy/MM/dd 23:59:59"/>
                        </div>
                        <div class="panel-group">
                            <label>补货单号</label>
                            <input type="text" ng-model="query.id" />
                        </div>
                        <div class="panel-group">
                            <label>参考单号</label>
                            <input type="text" ng-model="query.referNo" />
                        </div>
                        <div class="panel-group">
                            <label>单据状态</label>
                            <div class="panel-select">
                                <l-select src="TicketStatus" name="query.statusCode" id="query.statusCode"/>
                            </div>
                        </div>
        </panel_heading_search>
        <div class="panel-body">
            <div kendo-grid="replenishGrid" options="mainGridOptions">
                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active" ng-click="changeTab('detail')">补货明细</li>
                            <li ng-click="changeTab('allocate')">补货任务</li>
                        </ul>
                        <!-- 补货明细 -->
                        <div>
                            <div kendo-grid="replenishDetailGrid" k-options="replenishDetailOptions(dataItem)"></div>
                        </div>
                        <!-- 补货任务 -->
                        <div>
                            <div kendo-grid="replenishAllcateGrid" k-options="replenishAllocateOptions(dataItem)"></div>
                        </div>
                    </kendo-tabstrip>
                </div>
            </div>
            <div kendo-window="skuPopup" k-title="'SKU'" k-modal="true"
                 k-resizable="false"
                 k-width="600" k-height="400" k-visible="false"
                 k-content="{ url: './tmpl/popup/sku.html' }"></div>
            <div kendo-window="userPopup" k-title="'USER'" k-modal="true"
                 k-resizable="false"
                 k-width="600" k-height="400" k-visible="false"
                 k-content="{ url: './tmpl/popup/user.html' }"></div>
        </div>
    </div>


</div>
<script id="replenish-editor" type="text/x-kendo-template">
<div class="edit-form-container">
    <div class="window-form clearfix">
        <div class="pure-control-group p-b-5 pure-5">
            <label>补货单号</label>
            <input type="text" disabled="disabled" value="自动生成">
        </div>
        <div class="pure-control-group p-b-5 pure-5">
            <label>数据来源</label>
            <span class="inputDisbled" wms-label="DataSource.Manual" bind-name="datasourceCode"></span>
        </div>
        <div class="pure-control-group p-b-5 pure-5">
            <label>目的库区</label>
            <span class="inputDisbled" wms-label="ZoneType.Picking" bind-name="zoneTypeCode"></span>
        </div>
        <div class="pure-control-group p-b-5 pure-5">
            <label>补货类型</label>
            <span class="inputDisbled" wms-label="ReplenishType.FromStorage" bind-name="typeCode"></span>
        </div>
        <div class="pure-control-group p-b-5 pure-5">
            <label>商家</label>
            <div class="select-wrapper">
                <div class="select-border"></div>
                <r-select src="storer" name="storerId" id="storerId" required></r-select>
            </div>
        </div>
        <div class="pure-control-group p-b-5 pure-5">
            <label>参考单号</label>
            <input id="referNo" name="referNo" type="text" required/>
        </div>
    </div>
</div>
</script>

<script id="replenish-detail-editor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body p-t-10">
            <div class="pure-control-group p-b-5 pure-5">
                <label>补货行号</label>
                <input type="text" disabled="disabled" value="自动生成">
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>补货原因</label>
                <span class="inputDisbled" wms-label="ReplenishReason.Manual" bind-name="reasonCode"></span>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>SKU</label>
                <input id="skuSku" name="skuSku" type="text" ng-click="windowOpen()" readonly="readonly" />
                <input type="hidden" id="skuId" name="skuId" />
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>SKU描述</label>
                <input type="text" name="skuItemName" id="skuItemName"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>期望数量</label>
                <input id="expectedQty" name="expectedQty" type="number" ng-blur="changeExpectedQty($event)" required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>建议数量</label>
                <input id="advicedQty" name="advicedQty" type="number" readOnly="readOnly"/>
            </div>
            <div class="pure-control-group p-b-5 pure-5">
                <label>分配数量</label>
                <input id="allocateQty" name="allocateQty" type="number" disabled="disabled"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>拣货数量</label>
                <input id="pickedQty" name="pickedQty" type="number" disabled="disabled"/>
            </div>
        </div>
        <div class="pure-control-group p-b-5">
            <label class="panel-label-left">备注</label>
            <textarea role="20" cols="50" id="description" name="description"></textarea>
        </div>

</script>