<div class="content-wrap" ng-controller="locationListController">
    <div class="panel panel-default">

        <panel_heading_search bind-ui="locationGrid">

            <div class="panel-group">
                <label>库区:</label>
                <div class="panel-select">
                    <r-select src="zone" id="query.zoneId" name="query.zoneId"></r-select>
                </div>
            </div>

            <div class="panel-group">
                <label>货位:</label>
                <input ng-model="query.locationNo" type="text" />
            </div>


            <div class="panel-group">
                <label>货位类型:</label>
                <div class="panel-select">
                    <l-select src="LocationType" name="query.typeCode" id="query.typeCode"></l-select>
                </div>
            </div>

            <div class="panel-group">
                <label>区域:</label>
                <input ng-model="query.locationArea" type="text" />
            </div>


            <div class="panel-group">
                <label>通道:</label>
                <input ng-model="query.locationChannel" type="text" />
            </div>



            <div class="panel-group">
                <label>层位:</label>
                <input ng-model="query.locationFloor" type="text" />
            </div>





        </panel_heading_search>


        <div class="panel-body">
            <div kendo-grid="locationGrid" options="locationGridOptions">
            </div>
        </div>
    </div>




    <!--导入弹出框用-->
    <div id="importWindow"
         kendo-window="importWindow" k-visible="false" k-resizable="false">
    </div>

    <!--库区选择-->
    <!--<div kendo-window="zonePopup" k-title="'选择库区导入'" k-modal="true"-->
         <!--k-resizable="false"-->
         <!--k-width="340" k-height="100" k-visible="false">-->
         <!--<div class="k-edit-form-container">-->
            <!--<div class="k-edit-form-container">-->
                <!--<div class="pure-body p-t-10">-->
                    <!--<div class="pure-control-group p-b-10 pure-5">-->
                        <!--<label>库区:</label>-->
                        <!--<div class="panel-select">-->
                            <!--<r-select src="zone" name="zoneId" id="zoneId"></r-select>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
             <!--<div class="k-edit-buttons k-state-default">-->
                 <!--<a class="k-button k-button-icontext k-primary k-grid-update" ng-click="carrierInfoConfirm('true')"><span-->
                         <!--class="k-icon k-update"></span>确定</a>-->
                 <!--<a class="k-button k-button-icontext k-grid-cancel"  href="#" ng-click="carrierConfirmClose()"><span class="k-icon k-cancel"></span>关闭</a>-->
             <!--</div>-->
         <!--</div>-->
    <!--</div>-->


    <script type="text/x-kendo-template" id="J_fileForm">
        <form class=" clearfix" method="post" enctype="multipart/form-data">
            <div class="import-container clearfix">
                <div class="clearfix">
                    <div class="import-rol dl-btn">
                        <a href="/download/template/货位导入模板" class="btn mb-download">
                            <i class="fa fa-download faIcon"></i>
                            模板下载
                        </a>
                    </div>

                    <div class="import-rol">
                            <label>库区:</label>
                            <div class="panel-select">
                                <r-select src="zone" name="zoneId" id="zoneId"></r-select>
                            </div>
                            <span class="upFile">
                                选择导入文件
                             <input class="files" type="file" name="file" nv-file-select="" uploader="uploader" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                            </span>
                            <p class="import-file-name" ng-bind="fileName"></p>
                    </div>


                    <div class="import-rol m-l-15">
                        <button class="btn import-btn" type="button" value=" 上传文件" ng-click="uploadFile()" ng-disabled="!uploader.getNotUploadedItems().length">
                            <i class="fa fa-upload faIcon"></i>导入
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <div class="import-error upFilesTest js_operationResult" style="display: none">
            <div class="ie-header"><i class="fa fa-exclamation-circle faIcon"></i>异常结果</div>
            <div kendo-grid="importListGrid" id="importListGrid" options="importGridOptions">

            </div>
        </div>
    </script>

</div>

<!-- 货位编辑 -->
<script id="locationEditor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body p-t-10">
            <div class="pure-control-group p-b-10 pure-5">
                <label>货位编号：</label>
                <input  id="locationNo" name="locationNo" type="text" required/>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>货区:</label>
                <div class="panel-select">
                    <r-select src="zone" name="zoneId" id="zoneId"></r-select>
                </div>
            </div>


            <div class="pure-control-group p-b-10 pure-5">
                <label>货架类型：</label>
                <div class="panel-select">
                    <l-select id="typeCode" name="typeCode" src="LocationType" required/>
                </div>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>存货分类：</label>
                <div class="panel-select">
                    <l-select id="classCode" name="classCode" src="LocationClass"/>
                </div>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>操作类型：</label>
                <div class="panel-select">
                    <l-select id="handlingCode" name="handlingCode" src="LocationHandling"/>
                </div>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>存放方式：</label>
                <div class="panel-select">
                    <l-select id="categoryCode" name="categoryCode" src="LocationCategory"/>
                </div>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>ABC分类：</label>
                <div class="panel-select">
                    <l-select id="abcCode" name="abcCode" src="AbcClass" />
                </div>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>多SKU混放：</label>
                <input id="isMultisku" name="isMultisku" type="checkbox" value="1"/>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>多批次混放：</label>
                <input id="isMultilot" name="isMultilot" type="checkbox" value="1"/>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>区域：</label>
                <input id="area" name="area" type="text" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>通道：</label>
                <input id="channel" name="channel" type="text" />
            </div>


            <div class="pure-control-group p-b-10 pure-5">
                <label>层位：</label>
                <input id="storey" name="storey" type="text" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>放货次序：</label>
                <input id="putawaySeq" name="putawaySeq" type="number" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>拣货次序：</label>
                <input id="pickupSeq" name="pickupSeq" type="number"/>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>容积：</label>
                <input type="number" id="cube" name="cube" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>长度(CM)：</label>
                <input type="number" id="length" name="length" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>宽度(CM)：</label>
                <input type="number" id="width" name="width"/>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>高度(CM)：</label>
                <input type="number" id="height" name="height" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>承重(KG)：</label>
                <input type="number" id="weightcapacity" name="weightcapacity" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>X坐标：</label>
                <input type="text" id="xcoord" name="xcoord"/>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>Y坐标：</label>
                <input type="text" id="ycoord" name="ycoord" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>Z坐标：</label>
                <input type="text" id="zcoord" name="zcoord" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>最大品种数：</label>
                <input type="text" id="maxCategoryQty" name="maxCategoryQty" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>最大数量：</label>
                <input type="text" id="maxQty" name="maxQty" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>可用：</label>
                <input type="checkbox" id="isActive" name="isActive" value="1"/>
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>默认货位：</label>
                <input type="checkbox" id="isDefault" name="isDefault" value="1"/>
            </div>

        </div>

        <div class="pure-control-group p-b-10 pure-10">
            <label>备注：</label>
            <textarea  class="tear-text" id="description" name="description" cols="52" rows="5"></textarea>
        </div>

    </div>

</script>
<div ng-include="'/app/tmpl/data/printDetail.html'"></div>

