<div class="content-wrap" ng-controller="dataZoneController">
    <div class="panel panel-default">

        <panel_heading_search bind-ui="zoneGrid">

            <div class="panel-group">
                <label>库区:</label>
                <div class="panel-select">
                    <!--<r-select src="zone" id="zoneNo" name="zoneNo" toid="locationId"></r-select>-->
                    <r-select src="zone" id="query.id" name="query.id"></r-select>
                </div>
            </div>



            <div class="panel-group">
                <label>区域类型:</label>
                <div class="panel-select">
                    <l-select src="ZoneType" name="query.typeCode" id="query.typeCode"></l-select>
                </div>
            </div>

            <!--<div class="panel-group">-->
                <!--<label>货位编号:</label>-->
                <!--<input ng-model="query.locationNo" type="text" />-->
            <!--</div>-->

        </panel_heading_search>


        <div class="panel-body">
            <div kendo-grid="zoneGrid" options="zoneGridOptions">
            </div>
        </div>
    </div>




    <!--导入弹出框用-->
    <div id="importWindow"
         kendo-window="importWindow" k-visible="false" k-resizable="false">
    </div>

    <script type="text/x-kendo-template" id="J_fileForm">
      <form class=" clearfix" method="post" enctype="multipart/form-data">
        <div class="import-container clearfix">
          <div class="clearfix">
            <div class="import-rol dl-btn">
              <a href="/download/template/货位导入模板" class="btn mb-download">
                <i class="fa fa-download faIcon"></i>
                模板下载
              </a>
            </div>
            <div class="import-rol">
                <span class="upFile">
                    选择导入文件
                 <input class="files" type="file" name="file" nv-file-select="" uploader="uploader" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                </span>

              <p class="import-file-name" ng-bind="fileName"></p>
            </div>
            <div class="import-rol m-l-15">
              <button class="btn import-btn" type="button" value=" 上传文件" ng-click="uploadFile()" ng-disabled="!uploader.getNotUploadedItems().length">
                <i class="fa fa-upload faIcon"></i>导入
              </button>
            </div>
          </div>
        </div>
      </form>
      <div class="import-error upFilesTest js_operationResult" style="display: none">
        <div class="ie-header"><i class="fa fa-exclamation-circle faIcon"></i>异常结果</div>
        <div kendo-grid="importListGrid" id="importListGrid" options="importGridOptions">

        </div>
      </div>
    </script>

</div>


<!-- 货区编辑 -->
<script id="zoneEditor" type="text/x-kendo-template">
    <div class="edit-form-container">
         <div class="pure-body windown-form">
            <div class="clearfix">
                <div class="pure-control-group p-b-10 pure-5">
                    <label>区域编号：</label>
                    <input id="zoneNo" name="zoneNo" type="text" required/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>货区类型：</label>
                    <div class="select-wrapper">
                        <div class="select-border"></div>
                        <l-select id="typeCode" name="typeCode" src="ZoneType" required/>
                    </div>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>优先级：</label>
                    <input type="text" name="priority" id="priority" />
                </div>


                <div class="pure-control-group p-b-10 pure-5">
                    <label>可售：</label>
                    <input type="checkbox" id="isOnsale" name="isOnsale" value="1" checked="checked"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>可用：</label>
                    <input type="checkbox" id="isActive" name="isActive" value="1" checked="checked"/>
                </div>
            </div>

            <div class="pure-control-group p-b-10 pure-10">
                <label>备注：</label>
                <textarea class="tear-text" id="description" name="description" cols="52" rows="5"/>
            </div>
        </div>
    </div>

</script>


<div ng-include="'/app/tmpl/data/printDetail.html'"></div>

