<div>
    <div kendo-div>
        <table>
            <tr>
                <td width="80px;">入库单号</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.id"/></td>
                <td width="80px;">商家</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.storerId"/></td>
                <td width="80px;">仓库</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.warehouseId"/></td>
            </tr>

            <tr>
                <td width="80px;">到货通知单号</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.asnId"/></td>
                <td width="80px;">入库类型</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.receiptTypeCode"/></td>
                <td width="80px;">单据来源</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.fromTypeCode"/></td>
            </tr>
            <tr>
                <td width="80px;">单据状态</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.statusCode"/></td>
                <td width="80px;">收货人</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.receiptUser"/></td>
                <td width="80px;">检验人</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.qcUser"/></td>
            </tr>
            <tr>
                <td width="80px;">收货日期</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.receiptDate"/></td>
                <td width="80px;">总数量</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.totalQty"/></td>
                <td width="80px;">总托数</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.totalPalletQty"/></td>
            </tr>
            <tr>
                <td width="80px;">总箱数</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.totalCartonQty"/></td>
                <td width="80px;">总净重</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.totalNetWeight"/></td>
                <td width="80px;">总毛重</td>
                <td width="80px;"><input type="text" disabled="true" ng-model="dataItem.totalGrossWeight"/></td>
            </tr>
            <tr>
                <td width="80px;">总体积</td>
                <td width="80px;" colspan="5"><input type="text" disabled="true" ng-model="dataItem.totalCube"/></td>
            </tr>
            <tr>
                <td width="80px;">备注</td>
                <td width="80px;" colspan="5"><input type="text" disabled="true" ng-model="dataItem.description"/></td>
            </tr>
        </table>
    </div>
</div>