<div class="content-wrap" ng-controller="dataCarrierController">
    <div class="panel panel-default">
        <!--查询条件-->
        <panel_heading_search bind-ui="carrierGrid">
            <div class="panel-group">
                <label>承运商代码:</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="Carrier" type="text" name="query.carrierCode" id="query.carrierCode"/>
                </div>
            </div>
            <div class="panel-group ">
                <label>承运商编号:</label>
                <input type="text" ng-model="query.carrierNo"/>
            </div>
            <div class="panel-group ">
                <label>承运商简称:</label>
                <input type="text" ng-model="query.shortName"/>
            </div>
            <div class="panel-group ">
                <label>承运商全称:</label>
                <input type="text" ng-model="query.longName"/>
            </div>
        </panel_heading_search>
        <div class="panel-body">
            <!--主表-->
            <div kendo-grid="carrierGrid" options="carrierGridOptions"></div>
        </div>
    </div>



    <!-- 更新物流单 -->
    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="balancePopup" k-title="'面单余额查询'"
         k-resizable="false" k-modal="false" k-visible="false">
        <div class="k-edit-form-container">
            <div id="balanceDiv" style="width: 500px;">
            </div>
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="balanceClose()"><span
                        class="k-icon k-cancel"></span>关闭</a>
            </div>
        </div>
    </div>
</div>


<!-- 承运商编辑信息 -->
<script id="carrierEditor" type="text/x-kendo-template">

<div class="edit-form-container">
    <div class="edit-form-container">
        <div class="pure-body window-form">
            <div class="pure-control-group p-b-5 pure-5">
                <label>承运商编号：</label>
                <input id="carrierNo" name="carrierNo" type="text" required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>承运商类型：</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="CarrierType" type="text" name="typeCode" id="typeCode" required/>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>承运商代码：</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="Carrier" type="text" name="carrierCode" id="carrierCode" required/>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>承运商简称：</label>
                <input id="shortName" name="shortName" type="text" required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>承运商全称：</label>
                <input id="longName" name="longName" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>业务类型：</label>

                <div class="panel-select">
                    <l-select id="businessType" name="businessType" src="defaultBusinessType"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>发货口编号：</label>
                <input id="deliveryOstium" name="deliveryOstium" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>可用：</label>
                <input id="isActive" name="isActive" type="checkbox" value="1"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>是否默认物流：</label>
                <input id="isDefault" name="isDefault" type="checkbox" value="1"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>启用电子面单：</label>
                <input id="isElec" name="isElec" type="checkbox" value="1"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>是否启用云栈：</label>
                <input id="isCloudStack" name="isCloudStack" type="checkbox" value="1"/>
            </div>
            <div class="pure-control-group  pure-5">
                <label>打印模板：</label>

                <div class="panel-select">
                    <r-select src="expressReport" name="printTemplate" id="printTemplate"/>
                </div>
            </div>
        </div>
    </div>

</div>


<kendo-tabstrip>
    <ul>
        <li class="k-state-active">基础信息</li>
        <li>扩展信息</li>
    </ul>

    <div class="edit-form-container">
        <div class="pure-body p-l-r-20" style="padding-top:10px">

            <div class="clearfix">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>国家：</label>
                    <input type="text" name="country" id="country"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>省区：</label>
                    <input id="state" name="state" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>城市：</label>
                    <input id="city" name="city" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>县区：</label>
                    <input id="district" name="district" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>邮政编码：</label>
                    <input id="zip" name="zip" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>联系人：</label>
                    <input id="contact" name="contact" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>联系电话：</label>
                    <input id="telephone" name="telephone" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>传真：</label>
                    <input id="fax" name="fax" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>电子信箱：</label>
                    <input id="email" name="email" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>地址：</label>
                    <input id="address" name="address" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>信用额度：</label>
                    <input id="creditLimit" name="creditLimit" type="number"/>
                </div>
            </div>

            <div class="pure-control-group  ">
                <label>备注：</label>
                <textarea class="tear-text" id="description" name="description"></textarea>
            </div>

        </div>

    </div>

    <div class="edit-form-container">
        <div class="pure-body p-l-r-20" style="padding-top:10px">

            <div class="pure-control-group p-b-5">
                <label>接口地址：</label>
                <input style="width: 423px;" id="userdef01" name="userdef01" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>Appkey：</label>
                <input id="userdef02" name="userdef02" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 ">
                <label>appSecret：</label>
                <input id="userdef03" name="userdef03" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性四：</label>
                <input id="userdef04" name="userdef04" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性五：</label>
                <input id="userdef05" name="userdef05" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性六：</label>
                <input id="userdef06" name="userdef06" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性七：</label>
                <input id="userdef07" name="userdef07" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性八：</label>
                <input id="userdef08" name="userdef08" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性九：</label>
                <input id="userdef09" name="userdef09" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性十：</label>
                <input id="userdef10" name="userdef10" type="text"/>
            </div>

        </div>

    </div>

</kendo-tabstrip>

</script>


