<div class="content-wrap" ng-controller="dataCustomerController">
    <div class="panel panel-default">
        <!--查询条件-->
        <panel_heading_search bind-ui="customerHeaderGrid">
            <div class="panel-group ">
                <label>客户编号:</label>
                <input type="text" ng-model="query.customerNo"/>
            </div>
            <div class="panel-group ">
                <label>客户简称:</label>
                <input type="text" ng-model="query.shortName"/>
            </div>
            <div class="panel-group ">
                <label>客户全称:</label>
                <input type="text" ng-model="query.longName"/>
            </div>
            <div class="panel-group">
                <label>商家:</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-ui-select ui-select-name="query.storerId" ui-select-id="query.storerId" src="storer"></wms-ui-select>
                </div>
            </div>
        </panel_heading_search>

        <div class="panel-body">
            <!--主表-->
            <div kendo-grid="customerHeaderGrid" options="mainGridOptions">

                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active">基本信息</li>
                        </ul>
                        <!-- 基本信息 -->
                        <div>
                            <div ng-include="'/app/tmpl/data/customerBasic.html'"></div>
                        </div>
                    </kendo-tabstrip>
                </div>
            </div>
        </div>
    </div>
</div>


<script id="customerEditor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body window-form ">

            <div class="clearfix">
                <div class="pure-control-group p-b-10 pure-5">
                    <label>商家：</label>

                    <div class="select-wrapper">
                        <div class="select-border"></div>
                        <wms-ui-select ui-select-name="storerId" ui-select-id="storerId" src="storer" on-select=$parent.storerIdChange($item,$models)></wms-ui-select>
                    </div>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>客户编号：</label>
                    <input type="text" name="customerNo" id="customerNo" required/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>客户类型：</label>

                    <div class="select-wrapper">
                        <div class="select-border"></div>
                        <l-select src="CustomerType" name="typeCode" id="typeCode" required/>
                    </div>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>客户来源：</label>

                    <div class="select-wrapper">
                        <div class="select-border"></div>
                        <l-select src="CustomerFrom" name="fromCode" id="fromCode" required/>
                    </div>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>客户简称：</label>
                    <input type="text" name="shortName" id="shortName" required/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>客户全称：</label>
                    <input id="longName" name="longName" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>信用额度：</label>
                    <input id="creditLimit" name="creditLimit" type="number" required/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>是否可用：</label>
                    <input id="isActive" name="isActive" type="checkbox"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>国家：</label>
                    <input id="country" name="country" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>省份：</label>
                    <input id="state" name="state" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>城市：</label>
                    <input id="city" name="city" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>地区：</label>
                    <input id="district" name="district" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>邮政编码：</label>
                    <input id="zip" name="zip" type="text"/>
                </div>


                <div class="pure-control-group p-b-10 pure-5">
                    <label>联系人：</label>
                    <input id="contact" name="contact" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>联系电话：</label>
                    <input id="telephone" name="telephone" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>传真：</label>
                    <input id="fax" name="fax" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>地址：</label>
                    <input id="address" name="address" type="text"/>
                </div>

                <div class="pure-control-group p-b-10 pure-5">
                    <label>电子邮箱：</label>
                    <input id="email" name="email" type="text" email/>
                </div>
            </div>

            <div class="pure-control-group p-b-10 pure-10">
                <label>备注：</label>
                <textarea class="tear-text" cols="52" rows="5" name="description" id="description"/>
            </div>

        </div>
    </div>

</script>


