<div class="content-wrap" ng-controller="dataGoodsController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="goodsGrid">
            <div class="panel-group ">
                <label>商品条码</label>
                <input type="text" ng-model="query.barcode"/>
            </div>
            <div class="panel-group ">
                <label>商品名称</label>
                <input type="text" ng-model="query.itemName"/>
            </div>
            <div class="panel-group ">
                <label>品牌</label>
                <input type="text" ng-model="query.brandCode"/>
            </div>
            <div class="panel-group">
                <label>商家:</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-ui-select ui-select-name="query.storerId" ui-select-id="query.storerId" src="storer"></wms-ui-select>
                </div>
            </div>
        </panel_heading_search>
    </div>
    <div class="panel-body">
        <div kendo-grid="goodsGrid" options="mainGridOptions">
        </div>
    </div>
</div>


<!-- 新增模版 -->
<script id="form-add" type="text/x-kendo-template">
<div class="edit-form-container">
    <div class="pure-body p-t-10">
        <div class="pure-control-group p-b-5 pure-5">
            <label>商家：</label>
            <div class="select-wrapper">
                <div class="select-border"></div>
                <wms-ui-select ui-select-name="storerId" ui-select-id="storerId" src="storer" on-select=$parent.storerIdChange($item,$models)></wms-ui-select>
            </div>
        </div>

        <div class="pure-control-group p-b-5 pure-5">
            <label>供应商：</label>
            <div class="panel-select">
                <wms-select id="supplierId" name="supplierId" src="/index/supplier/" parent-id="storerId" data-no="supplierNo" data-value="id" data-text="shortName"/>
            </div>
        </div>

        <div class="pure-control-group p-b-5 pure-5">
            <label>SKU编码：</label>
            <input type="text" id="sku" name="sku" required/>
        </div>

        <div class="pure-control-group p-b-5 pure-5">
            <label>商品条码：</label>
            <input type="text" name="barcode" id="barcode" required/>
        </div>

        <div class="pure-control-group p-b-5 pure-5">
            <label>UPC编码：</label>
            <input type="text" id="upc" name="upc"/>
        </div>

        <div class="pure-control-group p-b-5 pure-5">
            <label>商品名称：</label>
            <input type="text" name="itemName" id="itemName" required/>
        </div>


        <div class="pure-control-group p-b-5 pure-5">
            <label>是否可用：</label>
            <input type="checkbox" name="isActive" id="isActive"/>
        </div>

        <div class="pure-control-group p-b-5 pure-5">
            <label>数据来源：</label>
                <span class="inputDisbled" ng-if="dataItem.isNew()" wms-label="DataSource.Manual"
                      bind-name="datasourceCode"></span>
                <span class="inputDisbled" ng-if="!dataItem.isNew()"
                      ng-bind="dataItem.datasourceCode|codeFormat:'DataSource'"></span>
        </div>
    </div>
</div>
<kendo-tabstrip>
<ul>
    <li class="k-state-active">基础信息</li>
    <li>规格信息</li>
    <li>策略信息</li>
    <li>扩展属性</li>
</ul>
<!--基础信息-->
<div class="edit-form-container">
    <div class="pure-body  p-t-10">
        <div class="clearfix">
            <div class="pure-control-group p-b-5 pure-5">
                <label>图片链接：</label>
                <input type="text" name="imageUrl" id="imageUrl"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>款式型号：</label>
                <input type="text" name="model" id="model"/>
            </div>


            <div class="pure-control-group p-b-5 pure-5">
                <label>产品货号：</label>
                <input type="text" name="productNo" id="productNo"/>
            </div>

            <!--<div class="pure-control-group p-b-5 pure-5">
                <label>类别：</label>
                <input type="text" name="categoryid" id="categoryid"/>
            </div>-->
            <div class="pure-control-group p-b-5 pure-5">
                <label>类别：</label>
                <div class="panel-select">
                    <r-select id="categoryid" name="categoryid" src="commodityTypeStrategy" required></r-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>品牌：</label>

                <div class="panel-select">
                    <l-select src="SKUBrand" name="brandCode" id="brandCode"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>颜色：</label>

                <div class="panel-select">
                    <l-select src="SKUColor" name="colorCode" id="colorCode"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>尺码：</label>

                <div class="panel-select">
                    <l-select src="SKUSize" name="sizeCode" id="sizeCode"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>ABC分类：</label>

                <div class="panel-select">
                    <l-select src="AbcClass" name="abcCode" id="abcCode"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>包装方式：</label>

                <div class="panel-select">
                    <l-select src="Package" name="packageCode" id="packageCode"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>包装规格：</label>

                <div class="panel-select">
                    <l-select src="CartonGroup" name="cartonCode" id="cartonCode"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>主单位：</label>

                <div class="panel-select">
                    <l-select src="MasterUnit" name="unitCode" id="unitCode"></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>制造商：</label>
                <input id="producer" name="producer" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>出厂编码：</label>
                <input type="text" name="producerSku" id="producerSku"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>原产地：</label>
                <input type="text" name="originPlace" id="originPlace"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>保质天数：</label>
                <input type="number" name="validdays" id="validdays"/>
            </div>
        </div>
        <div class="pure-control-group p-b-5">
            <label>SKU描述：</label>
            <textarea id="description" class="tear-text" name="description" cols="52" rows="3"></textarea>
        </div>
    </div>
</div>
<!--规格信息-->
<div class="edit-form-container">
    <div class="pure-body  p-t-10">

        <div class="clearfix">
            <div class="pure-control-group p-b-5 pure-5">
                <label>长：</label>
                <input id="length" name="length" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>宽：</label>
                <input id="width" name="width" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>高：</label>
                <input id="height" name="height" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>净重：</label>
                <input id="netweight" name="netweight" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>毛重：</label>
                <input id="grossweight" name="grossweight" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>吊牌价：</label>
                <input id="tagprice" name="tagprice" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>零售价：</label>
                <input id="price" name="price" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>体积：</label>
                <input id="cube" name="cube" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>成本价：</label>
                <input id="cost" name="cost" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>每箱件数：</label>
                <input id="boxsize" name="boxsize" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>批次混放：</label>

                <div class="panel-select">
                    <l-select src="IsAllow" name="isMultilot" id="isMultilot"/>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>SKU混放：</label>

                <div class="panel-select">
                    <l-select src="IsAllow" name="isMultisku" id="isMultisku"/>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>预警下限：</label>
                <input id="lowerlimitqty" name="lowerlimitqty" type="number"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>预警上限：</label>
                <input id="upperlimitqty" name="upperlimitqty" type="number"/>
            </div>

            <!--<div class="pure-control-group p-b-5 pure-5">-->
                <!--<label>质检策略：</label>-->

                <!--<div class="select-wrapper">-->
                    <!--<div class="select-border"></div>-->
                    <!--<wms-select id="qcStrategyId" name="qcStrategyId" src="/strategy/qc"-->
                                <!--data-no="id"-->
                                <!--data-value="id"-->
                                <!--data-text="strategyName"></wms-select>-->
                <!--</div>-->
            <!--</div>-->
        </div>
    </div>
</div>

<div class="edit-form-container">
    <div class="pure-body  p-t-10">

        <div class="clearfix">
            <div class="pure-control-group p-b-5 pure-5">
                <label>收货策略：</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-select id="receiptstrategyid" name="receiptstrategyid" src="/strategy/receipt/"
                                data-no="id"
                                data-value="id"
                                data-text="strategyName"></wms-select>
                </div>
            </div>

            <!--<div class="pure-control-group p-b-5 pure-5">-->
                <!--<label>上架策略：</label>-->

                <!--<div class="select-wrapper">-->
                    <!--<div class="select-border"></div>-->
                    <!--<wms-select id="receiptstrategyid" name="receiptstrategyid" src="/strategy/receipt/"-->
                                <!--data-no="id"-->
                                <!--data-value="id"-->
                                <!--data-text="strategyName"></wms-select>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="pure-control-group p-b-5 pure-5">-->
                <!--<label>分配策略：</label>-->

                <!--<div class="select-wrapper">-->
                    <!--<div class="select-border"></div>-->
                    <!--<wms-select id="receiptstrategyid" name="receiptstrategyid" src="/strategy/receipt/"-->
                                <!--data-no="id"-->
                                <!--data-value="id"-->
                                <!--data-text="strategyName"></wms-select>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="pure-control-group p-b-5 pure-5">-->
                <!--<label>补货策略：</label>-->

                <!--<div class="select-wrapper">-->
                    <!--<div class="select-border"></div>-->
                    <!--<wms-select id="receiptstrategyid" name="receiptstrategyid" src="/strategy/receipt/"-->
                                <!--data-no="id"-->
                                <!--data-value="id"-->
                                <!--data-text="strategyName"></wms-select>-->
                <!--</div>-->
            <!--</div>-->

            <div class="pure-control-group p-b-5 pure-5">
                <label>批次策略：</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-select id="lotstrategyid" name="lotstrategyid" src="/strategy/lot/"
                                data-no="id"
                                data-value="id"
                                data-text="strategyName"></wms-select>
                </div>
            </div>

            <!--<div class="pure-control-group p-b-5 pure-5">
                <label>质检策略：</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-select id="qcStrategyId" name="qcStrategyId" src="/strategy/qc"
                    data-no="id"
                    data-value="id"
                    data-text="strategyName"></wms-select>
                </div>
            </div>-->
        </div>
    </div>
</div>

<!-- 扩展属性 -->
<div class="edit-form-container">
    <div class="pure-body  p-t-10">

        <div class="clearfix">
            <div class="pure-control-group p-b-5 pure-5">

                <label>扩展属性一：</label>
                <input id="userdef01" name="userdef01" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性二：</label>
                <input id="userdef02" name="userdef02" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性三：</label>
                <input id="userdef03" name="userdef03" type="text"/>
            </div>


            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性四：</label>
                <input id="userdef04" name="userdef04" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性五：</label>
                <input id="userdef05" name="userdef05" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性六：</label>
                <input id="userdef06" name="userdef06" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性七：</label>
                <input id="userdef07" name="userdef07" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性八：</label>
                <input id="userdef08" name="userdef08" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性九：</label>
                <input id="userdef09" name="userdef09" type="text"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>扩展属性十：</label>
                <input id="userdef10" name="userdef10" type="text"/>
            </div>
        </div>
    </div>
</div>

</kendo-tabstrip>
</script>


<!--<!--超收策略-->
<!--<div kendo-window="receiptPopup" k-title="'收货策略选择'" k-modal="true"-->
<!--k-width="600" k-height="400" k-visible="false"-->
<!--k-content="{ url: './tmpl/popup/receiptPopup.html' }"></div>-->


<!--<!--质检策略-->
<!--<div kendo-window="qcPopup" k-title="'质检策略选择'" k-modal="true"-->
<!--k-width="600" k-height="400" k-visible="false"-->
<!--k-content="{ url: './tmpl/popup/qcPopup.html' }"></div>-->
