<div class="content-wrap" ng-controller="dataShopController">
    <div class="panel panel-default">
        <!--查询条件-->
        <panel_heading_search bind-ui="shopGrid">
            <div class="panel-group ">
                <label>店铺编号:</label>
                <input type="text" ng-model="query.shopNo"/>
            </div>
            <div class="panel-group ">
                <label>店铺名称:</label>
                <input type="text" ng-model="query.shopName"/>
            </div>
            <div class="panel-group">
                <label>所属平台：</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="ShopPlatform" name="query.platformCode" id="query.platformCode"></l-select>
                </div>
            </div>
            <div class="panel-group">
                <label>商家:</label>
                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <wms-ui-select ui-select-name="query.storerId" ui-select-id="query.storerId" src="storer"></wms-ui-select>
                </div>
            </div>
        </panel_heading_search>
    </div>
    <div class="panel-body">
        <div kendo-grid="shopGrid" options="mainGridOptions"></div>
    </div>
</div>


<script id="shopEdit" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body p-t-10">
            <div class="pure-control-group p-b-5 pure-5">
                <label>店铺编号：</label>
                <input type="text" name="shopNo" id="shopNo" required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>店铺名称：</label>
                <input type="text" name="shopName" id="shopName" required/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>所属平台：</label>

                <div class="select-wrapper">
                    <div class="select-border"></div>
                    <l-select src="ShopPlatform" name="platformCode" id="platformCode" required></l-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>店铺网址：</label>
                <input type="text" name="shopUrl" id="shopUrl"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>是否可用：</label>
                <input type="checkbox" name="isActive" id="isActive" value="1"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>商家：</label>
                <div class="panel-select">
                    <wms-ui-select ui-select-name="storerId" ui-select-id="storerId" src="storer" on-select=$parent.storerIdChange($item,$models)></wms-ui-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>出库策略：</label>

                <div class="panel-select">
                    <r-select id="outboundStrategyid" name="outboundStrategyid" src="outboundStrategy"></r-select>
                </div>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>分配策略：</label>

                <div class="panel-select">
                    <r-select id="tokenStrategyid" name="tokenStrategyid" src="allocationStrategy"></r-select>
                </div>
            </div>

        </div>
    </div>

    <!-- tab页开始 -->
    <kendo-tabstrip>
        <ul>
            <li class="k-state-active">基础属性</li>
            <li>自定义属性</li>
        </ul>

        <div class="edit-form-container">

            <div class="pure-body  p-t-10">

                <div class="clearfix">
                    <div class="pure-control-group p-b-5 pure-5">
                        <label>国家：</label>
                        <input type="text" name="country" id="country"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>省区：</label>
                        <input id="state" name="state" type="text"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>城市：</label>
                        <input id="city" name="city" type="text"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>县区：</label>
                        <input id="district" name="district" type="text"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>邮政编码：</label>
                        <input id="zip" name="zip" type="text"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>联系人：</label>
                        <input id="contact" name="contact" type="text"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>联系电话：</label>
                        <input id="telephone" name="telephone" type="text"/>
                    </div>


                    <div class="pure-control-group p-b-5 pure-5">
                        <label>传真：</label>
                        <input id="fax" name="fax" type="text"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>电子信箱：</label>
                        <input id="email" name="email" type="text"/>
                    </div>

                    <div class="pure-control-group p-b-5 pure-5">
                        <label>地址：</label>
                        <input id="address" name="address" type="text"/>
                    </div>
                </div>

                <div class="pure-control-group p-b-5">
                    <label>备注：</label>
                    <textarea class="tear-text" id="description" name="description" cols="52" rows="5"></textarea>
                </div>

            </div>

        </div>

        <div class="edit-form-container">

            <div class="pure-body p-l-r-20 p-t-10">

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性一：</label>
                    <input id="userdef01" name="userdef01" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性二：</label>
                    <input id="userdef02" name="userdef02" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性三：</label>
                    <input id="userdef03" name="userdef03" type="text"/>
                </div>


                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性四：</label>
                    <input id="userdef04" name="userdef04" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性五：</label>
                    <input id="userdef05" name="userdef05" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性六：</label>
                    <input id="userdef06" name="userdef06" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性七：</label>
                    <input id="userdef07" name="userdef07" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性八：</label>
                    <input id="userdef08" name="userdef08" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性九：</label>
                    <input id="userdef09" name="userdef09" type="text"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>扩展属性十：</label>
                    <input id="userdef10" name="userdef10" type="text"/>
                </div>
            </div>
        </div>

    </kendo-tabstrip>
    <!-- tab页结束 -->

</script>