<div class="content-wrap" ng-controller="popupShelveController">
    <div class="k-edit-buttons k-state-default">
        <a class="k-button k-button-icontext k-primary k-grid-update" href="#" ng-click="selectPopupData()">
            <span class="k-icon k-update"></span>确定</a>
        <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="closeWindow()">
            <span class="k-icon k-cancel"></span>取消</a>
    </div>
    <div kendo-grid="popupGrid" options="gridOptions"></div>
</div>