<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sin.smart.main.mapper.UserMapper">
    <resultMap id="UserResultMap" type="com.sin.smart.entity.main.SmartUserEntity">
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="real_name" property="realName" jdbcType="VARCHAR" />
        <result column="password" property="password" jdbcType="VARCHAR" />
        <result column="email" property="email" jdbcType="VARCHAR" />
        <result column="telephone" property="telephone" jdbcType="VARCHAR" />
        <result column="mobile" property="mobile" jdbcType="VARCHAR" />
        <result column="is_admin" property="isAdmin" jdbcType="BIT" />
        <result column="is_active" property="isActive" jdbcType="BIT" />
        <result column="is_del" property="isDel" jdbcType="BIT" />
        <result column="create_user" property="createUser" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="BIGINT" />
        <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
        <result column="update_time" property="updateTime" jdbcType="BIGINT" />
    </resultMap>

    <sql id="Base_Column_List" >
        `id`,`tenant_id`,`user_name`,`real_name`, `password`,`email`,`telephone`,`mobile`,`is_admin`,
        `is_active`,`is_del`,`create_user`,`create_time`,`update_user`,`update_time`
    </sql>

    <!-- query where 子句 -->
    <sql id="queryWhereClause">
        <where>
            <if test="id != 0">
                AND id = #{id,jdbcType=BIGINT}
            </if>
            <if test="userName != null">
                AND user_name = #{userName,jdbcType=VARCHAR}
            </if>
            <if test="telephone != null" >
                AND telephone = #{telephone,jdbcType=VARCHAR}
            </if>
            <if test="telephone != null" >
                AND password = #{password,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <!-- order by 子句 -->
    <sql id="queryOrderByClause">
        <if test="orderBy != null">
            ORDER BY ${orderBy}
        </if>
        <if test="orderBy == null">
            ORDER BY create_time desc
        </if>

    </sql>

    <!-- query limit 子句 -->
    <sql id="queryLimitClause">
        <if test="page != null and page >= 0 and pageSize != null and pageSize > 0">
            LIMIT #{page}, #{pageSize}
        </if>
    </sql>

    <select id="findByUserName" resultMap="UserResultMap" parameterType="java.lang.String">
        SELECT
        `id`,`tenant_id`,`user_name`,`real_name`, `password`,`email`,`telephone`,`mobile`,`is_admin`, `is_active`
        FROM t_smart_user
        WHERE user_name = #{userName,jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="selectUser" resultMap="UserResultMap">
        SELECT
        `id`,`tenant_id`,`user_name`,`real_name`, `password`,`email`,`telephone`,`mobile`,`is_admin`, `is_active`
        FROM t_smart_user
        WHERE user_name = #{userName,jdbcType=VARCHAR} AND password = #{password,jdbcType=VARCHAR}
        limit 1
    </select>

    <select id="selectUserById" resultMap="UserResultMap" parameterType="java.lang.Long">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_smart_user
        WHERE id = #{userId,jdbcType=BIGINT}
        limit 1
    </select>

    <select id="selectUserRolesById" resultType="String" parameterType="java.lang.Long">
        SELECT role_id FROM t_smart_user_role WHERE user_id = #{userId,jdbcType=BIGINT}
    </select>


    <select id="queryUserPages" resultMap="UserResultMap" parameterType="com.sin.smart.entity.main.SmartUserEntity">
        SELECT
        <include refid="Base_Column_List"/>
        FROM t_smart_user
        <include refid="queryWhereClause"/>
        <include refid="queryOrderByClause"/>
        <include refid="queryLimitClause" />
    </select>

    <select id="queryUserPageCount"  resultType="java.lang.Integer" parameterType="com.sin.smart.entity.main.SmartUserEntity">
        SELECT count(1) FROM t_smart_user
        <include refid="queryWhereClause"/>
        LIMIT 1
    </select>

</mapper>