<div class="page-container">
    
    <!-- BEGIN LEFT MENU-->
    <div class="page-sidebar-wrapper">
        <div class="page-sidebar navbar-collapse collapse">

            <ul class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 20px" >
                <li class="sidebar-toggler-wrapper hide">
                    <div class="sidebar-toggler"> </div>
                </li>
               
                <li class="nav-item start active">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-home"></i>
                        <span class="title">系统管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item start ">
                            <a ui-sref="index.user" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">用户</span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a ui-sref="index.role" class="nav-link ">
                                <i class="icon-bulb"></i>
                                <span class="title">角色</span>
                            </a>
                        </li>
                        <li class="nav-item start ">
                            <a ui-sref="index.permission" class="nav-link ">
                                <i class="icon-feed"></i>
                                <span class="title">权限</span>
                            </a>
                        </li>
                    </ul>
                </li>
              
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class=" icon-settings"></i>
                        <span class="title">基础管理</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item  ">
                            <a href="#" class="nav-link ">
                                <i class="icon-globe-alt"></i>
                                <span class="title">Light Sidebar Menu</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="#" class="nav-link ">
                                <i class="icon-feed"></i>
                                <span class="title">Hover Sidebar Menu</span>
                            </a>
                        </li>
                        <li class="nav-item  ">
                            <a href="#" class="nav-link ">
                                <i class="icon-bar-chart"></i>
                                <span class="title">Chart</span>
                            </a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a href="javascript:;" class="nav-link nav-toggle">
                        <i class="icon-paper-plane"></i>
                        <span class="title">服务监控</span>
                        <span class="arrow"></span>
                    </a>
                    <ul class="sub-menu">
                        <li class="nav-item">
                            <a href="layout_mega_menu_light.html" class="nav-link ">
                                <span class="title">Light Mega Menu</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="layout_mega_menu_dark.html" class="nav-link ">
                                <span class="title">Dark Mega Menu</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="layout_full_width.html" class="nav-link ">
                                <span class="title">Full Width Layout</span>
                            </a>
                        </li>
                    </ul>
                </li>
               
            </ul>
        </div>
    </div>
    <!-- END LEFT MENU-->

    <!-- BEGIN RIGHT CONTENT-->
    <div class="page-content-wrapper">
        <div class="page-content">

            <!-- BREADCRUMB NAVIGATION -->
            <div ng-include="'views/layout/breadcrumb.html'"></div> 

            <!--  CONTENT-->
            <div ui-view="main"/>
           
        </div>
    </div>
     <!-- END RIGHT CONTENT-->

</div>
<!-- <script type="text/javascript" src="scripts/assets/sidebar.menu.js"></script> -->




