<div class="row" ng-controller="PortletController">

    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="icon-speech font-red-intense"></i>
                    <span class="caption-subject bold uppercase"> Demo 1</span>
                    <span class="caption-helper">menu item</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu">
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                        eget lacinia odio sem nec elit. Cras mattis consectetur purus sit. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="icon-speech font-red-intense"></i>
                    <span class="caption-subject bold uppercase"> Demo 2</span>
                    <span class="caption-helper">menu item</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu">
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                        eget lacinia odio sem nec elit. Cras mattis consectetur purus sit. </p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="icon-speech font-red-intense"></i>
                    <span class="caption-subject bold uppercase"> Demo 3</span>
                    <span class="caption-helper">menu item</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu">
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                        eget lacinia odio sem nec elit. Cras mattis consectetur purus sit. </p>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-6">
        <div class="portlet light bordered "> <!-- class="portlet box blue" -->
            <div class="portlet-title"> 
                <div class="caption font-red-intense">
                    <i class="icon-speech font-red-intense"></i>
                    <span class="caption-subject bold uppercase"> Demo 4</span>
                    <span class="caption-helper">menu item</span>
                </div>
                <div class="tools">
                    <a href="" class="collapse" data-original-title="" title=""> </a>
                    <a href="#" data-toggle="modal" class="config" data-original-title="" title=""> </a>
                    <a href="" class="reload" data-original-title="" title=""> </a>
                    <a href="" class="fullscreen" data-original-title="" title=""> </a>
                    <a href="" class="remove" data-original-title="" title=""> </a>
                </div>
            </div>
            <div class="portlet-body">
                <div data-toggle="context" data-target="#context-menu">
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula,
                        eget lacinia odio sem nec elit. Cras mattis consectetur purus sit. </p>
                </div>
            </div>
        </div>
    </div>

        

</div>
