<div class="content-wrap" ng-controller="tradeShopController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="tradeShopGrid">

            <div class="panel-group ">
                <label>下单账号</label>
                <input type="text" ng-model="query.buyerUserId"/>
            </div>
            <div class="panel-group ">
                <label>交易单号</label>
                <input type="text" ng-model="query.shopOrderId"/>
            </div>
            <div class="panel-group ">
                <label>物流单号</label>
                <input type="text" ng-model="query.shipExpressId"/>
            </div>
            <div class="panel-group ">
                <label>物流公司</label>
                <input type="text" ng-model="query.shipExpressName"/>
            </div>
            <div class="panel-group ">
                <label>商品id</label>
                <input type="text" ng-model="query.itemIds"/>
            </div>
        </panel_heading_search>

        <div class="panel-body">
            <div kendo-grid="tradeShopGrid" options="tradeShopGridOptions">
                <wms-import url="qc/report/import" template-name="交易订单导入" title="交易订单导入" />
            </div>
        </div>
    </div>



    <script id="shopOrder-editor" type="text/x-kendo-template">
        <div class="edit-form-container">
            <div class="pure-body p-t-10">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>下单帐号id</label>
                    <input type="text" id="buyerUserId" name="buyerUserId" disabled="disabled" />
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>订单Id</label>
                    <input type="text" id="shopOrderId" name="shopOrderId" disabled="disabled" />
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>卖家Id</label>
                    <input type="text" id="shopId" name="shopId"  disabled="disabled"/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>物流单号</label>
                    <input type="text" id="shipExpressId" name="shipExpressId" required/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>物流公司名称</label>
                    <input type="text" id="shipExpressName" name="shipExpressName" disabled="disabled"/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>商品Id集合</label>
                    <input type="text" id="itemIds" name="itemIds" />
                </div>
            </div>
        </div>

    </script>
</div>


