<div class="content-wrap" ng-controller="qcTradeUserController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="tradeUserGrid">

            <div class="panel-group ">
                <label>下单账号</label>
                <input type="text" ng-model="query.buyerUserId"/>
            </div>
            <div class="panel-group ">
                <label>下单账号Code</label>
                <input type="text" ng-model="query.buyerUserCode"/>
            </div>
        </panel_heading_search>

        <div class="panel-body">
            <div kendo-grid="tradeUserGrid" options="tradeUserGridOptions"/>
        </div>
    </div>




    <script id="tradeUser-editor" type="text/x-kendo-template">

        <div class="edit-form-container">
            <div class="pure-body p-t-10">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>下单账号Id</label>
                    <input type="text" id="buyerUserId" name="buyerUserId" onlyNumber/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>下单账号Code</label>
                    <input type="text" id="buyerUserCode" name="buyerUserCode" required/>
                </div>
            </div>
        </div>

    </script>




</div>


