<style>
    input{
        font-size: 12px!important;
    }
    #printWaybill {
        margin-left: 10px;
    }
    .img-panel{
        text-align: right;
    }
    .img-panel img{
        min-width:300px;max-width:300px;
    }
    .container-fluid{
        font-size: 12px;
    }
    .container-fluid .row{
        margin-bottom: 10px;
    }
</style>
<div  ng-controller="qcRefundDoController">
    <form name="editForm" class="pure-form pure-form-aligned">
        <fieldset>
            <div  class="window-form" >

                <div class="pure-control-group p-b-10">
                    <label>质检单号</label>
                    <input type="text" class="form-control" ng-model="qcRefundModel.qcOrderNo" enter-input="qcOrderEnter" id="qcOrderNo" placeholder="质检单号|物流单号">

                    <input class="k-button k-button-icontext k-primary" type="button"  id="printWaybill" ng-click="printWaybill()" value="打印快递单"/>
                </div>
                <div class="pure-control-group p-b-10">
                    <label>退货地址信息</label>
                    <input type="text" style="width: 50%" class="form-control" ng-model="qcRefundModel.refundAddress" id="refundAddress" placeholder="退货地址信息">
                </div>
                <div class="pure-control-group p-b-10">
                    <label>退货快递公司</label>
                    <div class="panel-select col-sm-3">
                        <l-select ng-model="qcRefundModel.expressCode" src="ExpressCodeEnum"></l-select>
                    </div>
                </div>
                <div class="pure-control-group p-b-10">
                    <label>退货物流单号</label>
                    <input type="text" class="form-control" ng-model="qcRefundModel.data.qualityCheckOrderRefundDTO.expressId" id="refundExpressNo" placeholder="退货单号">
                </div>
        </fieldset>
    </form>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 img-panel">
                <img  src="{{qcRefundModel.data.qualityCheckOrderDetailDTO.goodsImage}}"/>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-2">质检单号</div>
                    <div class="col-xs-4">{{qcRefundModel.qcOrderId}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">检验类型</div>
                    <div class="col-xs-4">{{qcRefundModel.data.qualityCheckOrderDTO.type | statesFormat:'QcOrderTypeEnum'}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">商品名称</div>
                    <div class="col-xs-4">{{qcRefundModel.data.qualityCheckOrderDetailDTO.goodsName}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">商品描述</div>
                    <div class="col-xs-4">{{qcRefundModel.data.qualityCheckOrderDetailDTO.goodsDesc}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">快递编码</div>
                    <div class="col-xs-4">{{qcRefundModel.data.qualityCheckOrderRefundDTO.expressCode}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">商品编码</div>
                    <div class="col-xs-4">{{qcRefundModel.data.qualityCheckOrderDetailDTO.inspectionRemark}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">商品价格</div>
                    <div class="col-xs-4">{{qcRefundModel.data.qualityCheckOrderDetailDTO.goodsPrice}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">商品渠道</div>
                    <div class="col-xs-4">{{qcRefundModel.data.qualityCheckOrderDTO.channel}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">备注</div>
                    <div class="col-xs-4">{{qcRefundModel..data.qualityCheckOrderDetailDTO.inspectionRemark}}</div>
                </div>
            </div>
        </div>
    </div>
</div>



