<div class="content-wrap" ng-controller="qcRefundListController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="qcOrderGrid">
            <div class="panel-group">
                <label>质检单类型</label>
                <div class="panel-select">
                    <l-select src="QcOrderTypeEnum" name="query.type" id="query.type"></l-select>
                </div>
            </div>
            <div class="panel-group ">
                <label>质检单号</label>
                <input type="text" ng-model="query.qcOrderId"/>
            </div>
            <div class="panel-group">
                <label>平台状态</label>
                <div class="panel-select">
                    <l-select src="QcOrderPlatformStatusEnum" ng-init="$parent.query.platformStatus=3" name="query.platformStatus" id="query.platformStatus"></l-select>
                </div>
            </div>
            <div class="panel-group">
                <label>单据状态</label>
                <div class="panel-select">
                    <l-select src="QcOrderProcessStatusEnum" id="query.processStatus" name="query.processStatus"></l-select>
                </div>
            </div>
            <div class="panel-group ">
                <label>店铺名称</label>
                <input type="text" id="shopName" name="shopName" ng-model="query.shopName"/>
            </div>
            <div class="panel-group ">
                <label>交易单号</label>
                <input type="text" ng-model="query.shopOrderId"/>
            </div>
            <div class="panel-group ">
                <label>商品id</label>
                <input type="text" ng-model="query.goodsId"/>
            </div>
            <div class="panel-group ">
                <label>商品名称</label>
                <input type="text" ng-model="query.goodsName"/>
            </div>
            <div class="panel-group">
                <label>质检状态</label>
                <div class="panel-select">
                    <l-select src="QcOrderQualityResultEnum" name="query.qcResult" id="query.qcResult"></l-select>
                </div>
            </div>
            <div class="panel-group ">
                <label>物流单号</label>
                <input type="text" ng-model="query.expressId"/>
            </div>
            <div class="panel-group">
                <label>起始日期:</label>
                <wms-Date-Time-Picker id="beginTime" is-query="true" format="yyyy/MM/dd 00:00:00"/>
            </div>
            <div class="panel-group">
                <label>截止日期:</label>
                <wms-Date-Time-Picker id="endTime" is-query="true" format="yyyy/MM/dd 23:59:59"/>
            </div>
            <div class="panel-group">
                <label>寄回快递单号</label>
                <input type="text" id="refundExpressId" name="refundExpressId" ng-model="query.refundExpressId"/>
            </div>
            <div class="panel-group ">
                <label>下单帐号</label>
                <input type="text" ng-model="query.buyerUserId"/>
            </div>
        </panel_heading_search>

        <div class="panel-body">
            <div kendo-grid="qcOrderGrid" options="qcOrderGridOptions" >
                <div k-detail-template>
                    <kendo-tabstrip>
                        <ul>
                            <li class="k-state-active">操作日志</li>
                        </ul>

                        <!-- 明细信息 -->
                        <div>
                            <div kendo-grid k-options="logOptions(dataItem.id,'QC')"></div>
                        </div>

                    </kendo-tabstrip>
                </div>
            </div>
        </div>
    </div>


    <script id="qcOrderEditor" type="text/x-kendo-template">
        <div class="edit-form-container">
            <div class="pure-body window-form ">
                <div class="pure-control-group p-b-5">
                    <label>质检单类型</label>
                    <div class="panel-select">
                        <l-select src="QcOrderTypeEnum" id="type" name="type"></l-select>
                    </div>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>商家名称</label>
                    <input type="text" ng-model="query.sellerUserName"/>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>质检商品skuId</label>
                    <input id="skuId" name="skuId" type="text"/>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>商品价格</label>
                    <input id="goodsPrice" name="goodsPrice" type="text"/>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>质检商品Id</label>
                    <input id="goodsId" name="goodsId" type="text"/>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>卖家ID</label>
                    <input id="sellerUserId" name="sellerUserId" type="text"/>
                </div>
            </div>
        </div>
    </script>







    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="confirmQcOrderPopup" k-title="'质检单确认'"
         k-resizable="false" k-modal="false" k-visible="false">
        <div class="k-edit-form-container">
            <div class="window-form clearfix">
                <div class="pure-control-group p-b-5">
                    <label>质检单类型</label>
                    <span></span>
                    <input type="text" name="type" id="type" ng-model="qcOrderModel.type" disabled/>
                </div>
                <div class="pure-control-group p-b-5">
                    <label>质检单号</label>
                    <span></span>
                    <input type="text" name="qcOrderId" id="qcOrderId" ng-model="qcOrderModel.qcOrderId" disabled/>
                </div>
                <div class="pure-control-group p-b-5">
                    <label>下单账号</label>
                    <input type="text" name="buyerUserId" id="buyerUserId" ng-model="qcOrderModel.buyerUserId"/>
                </div>
                <div class="pure-control-group p-b-5">
                    <label>交易单号</label>
                    <input type="text" name="shopOrderId" id="shopOrderId" ng-model="qcOrderModel.shopOrderId"/>
                </div>
                <div class="pure-control-group p-b-5">
                    <label>物流公司</label>
                    <input type="text" name="expressCode" id="expressCode" ng-model="qcOrderModel.expressCode" />
                </div>
                <div class="pure-control-group p-b-5">
                    <label>物流单号</label>
                    <input type="text" name="expressId" id="expressId" ng-model="qcOrderModel.expressId" />
                </div>
            </div>
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-primary k-grid-update" href="#" ng-click="qcOrderConfirm($event)"><span class="k-icon k-update"></span>保存</a>
                <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="qcOrderPopupClose()"><span class="k-icon k-cancel"></span>取消</a>
            </div>
        </div>
    </div>

</div>