<div class="content-wrap" ng-controller="qcRefundAddressController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="qcRefundAddressGrid">
            <div class="panel-group">
                <label>收货人</label>
                <input type="text" ng-model="query.receiveName"/>
            </div>
            <div class="panel-group">
                <label>联系电话</label>
                <input type="text" ng-model="query.receivePhone"/>
            </div>
            <div class="panel-group ">
                <label>质检单号</label>
                <input type="text" ng-model="query.qcOrderId"/>
            </div>
            <div class="panel-group ">
                <label>物流公司</label>
                <input type="text" ng-model="query.expressId"/>
            </div>
            <div class="panel-group ">
                <label>发货物流单号</label>
                <input type="text" ng-model="query.expressCode"/>
            </div>
        </panel_heading_search>

        <div class="panel-body">
            <div kendo-grid="qcRefundAddressGrid" options="qcRefundAddressGridOptions"/>
        </div>
    </div>

    <script id="refundAddress-editor" type="text/x-kendo-template">
        <div class="edit-form-container">
            <div class="pure-body p-t-10">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>编号</label>
                    <input type="text" id="refundId" name="refundId" disabled="disabled" />
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>质检单号</label>
                    <input type="text" id="qcOrderId" name="qcOrderId" disabled="disabled" />
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>省份</label>
                    <input type="text" id="receiveProvince" name="receiveProvince"/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>城市</label>
                    <input type="text" id="receiveCity" name="receiveCity" required/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>区域</label>
                    <input type="text" id="receiveArea" name="receiveArea" required/>
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>街道</label>
                    <input type="text" id="receiveStreet" name="receiveStreet" />
                </div>
                <div class="pure-control-group p-b-5 pure-5">
                    <label>收货人名称</label>
                    <input type="text" id="receiveName" name="receiveName" required/>
                </div>
                <div class="pure-control-group p-b-5 ">
                    <label>收货人手机</label>
                    <input type="text" id="receivePhone" name="receivePhone" required/>
                </div>
                <div class="pure-control-group p-b-5 ">
                    <label>收货地址</label>
                    <textarea style="width:425px;height:60px;"  name="receiveAddress" id="receiveAddress" ng-model="receiveAddress" ></textarea>
                </div>
            </div>
        </div>

    </script>

</div>


