<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sin.smart.sku.mapper.SkuMapper" >
  <resultMap id="BaseResultMap" type="com.sin.smart.entity.sku.SmartSkuEntity" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tenant_id" property="tenantId" jdbcType="BIGINT" />
    <result column="warehouse_id" property="warehouseId" jdbcType="BIGINT" />
    <result column="storer_id" property="storerId" jdbcType="BIGINT" />
    <result column="sku" property="sku" jdbcType="VARCHAR" />
    <result column="upc" property="upc" jdbcType="VARCHAR" />
    <result column="barcode" property="barcode" jdbcType="VARCHAR" />
    <result column="item_name" property="itemName" jdbcType="VARCHAR" />
    <result column="is_active" property="isActive" jdbcType="TINYINT" />
    <result column="is_del" property="isDel" jdbcType="TINYINT" />
    <result column="datasource_code" property="datasourceCode" jdbcType="VARCHAR" />
    <result column="create_user" property="createUser" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="BIGINT" />
    <result column="update_user" property="updateUser" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="BIGINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, tenant_id, warehouse_id, storer_id, sku, upc, barcode, item_name, is_active,
    is_del, datasource_code, create_user, create_time, update_user, update_time
  </sql>
  <select id="getSkuByBarcode" resultMap="BaseResultMap" >
    SELECT
    <include refid="Base_Column_List" />
    FROM t_smart_sku
    WHERE barcode = #{barcode,jdbcType=VARCHAR}
  </select>

  <insert id="saveSku" parameterType="com.sin.smart.entity.sku.SmartSkuEntity">
    INSERT INTO  t_smart_sku (tenant_id,warehouse_id,storer_id,sku,upc,barcode,item_name,datasource_code)
    VALUE (#{skuEntity.tenantId},#{skuEntity.warehouseId},#{skuEntity.storerId},#{skuEntity.sku},
    #{skuEntity.upc},#{skuEntity.barcode},#{skuEntity.itemName},#{skuEntity.datasourceCode})
  </insert>

</mapper>