<div class="content-wrap ng-scope" ng-controller="packInWhController">
    <div class="panel panel-default">
        <div style="float: left">
            <div class="panel-group">
                <label style="width: 130px">物流单号/质检单号</label>
                <input id="packInOrderNo" name="packInOrderNo" type="text" enter-input="qcOrderEnter" style="width: 380px;"/>
            </div>
            <div class="panel-group">
                &nbsp;&nbsp;&nbsp;
                <input id="confirmStorage" name="confirmStorage" type="button" value="确认入库" ng-click="confirmStorage();"/>
            </div>
        </div>

    </div>
    <div class="panel panel-default">
        <div class="panel-body" style="clear: both;height: 180px;">
            <div kendo-grid="packInWhGrid" options="mainGridOptions"></div>
        </div>
    </div>

    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="showCancelPopup" k-title="'质检包裹入库确认'"
         k-resizable="false" k-modal="false" k-visible="false" style="width: 400px;">
        <div class="k-edit-form-container">
            <div class="pure-body window-form">
                <div class="clearfix">
                    <div class="panel-group" style="float:none">
                        <label>物流单号</label>
                        <span>{{expressId}}</span>
                    </div>
                    <div class="panel-group" style="float:none">
                        <label>质检单类型</label>
                        <span>{{orderType}}</span>
                    </div>
                    <div class="panel-group" style="float:none">
                        <label>质检单号</label>
                        <span>{{qcOrderId}}</span>
                    </div>
                    <div class="panel-group" style="float:none">
                        <label>商家名称</label>
                        <span>{{shopName}}</span>
                    </div>
                    <div class="panel-group" style="float:none">
                        <label>商品名称</label>
                        <span>{{goodsName}}</span>
                    </div>
                </div>
            </div>
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="qcOrderPrint(this)"><span
                        class="k-icon k-cancel"></span>打印质检单</a>
                <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="cancelClose()"><span
                        class="k-icon k-cancel"></span>关闭</a>
            </div>
        </div>
    </div>
</div>



