<div class="content-wrap" ng-controller="strategyReceiptController">
    <div class="panel panel-default">
        <panel_heading_search bind-ui="receiptGrid">
            <div class="panel-group">
                <label>策略名称</label><input type="text" ng-model="query.strategyName" />
            </div>
        </panel_heading_search>
        <div class="panel-body">
            <div kendo-grid="receiptGrid" options="receiptGridOptions"></div>
        </div>
    </div>

</div>

<script id="receiptEditor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body window-form">
            <div class="pure-control-group p-b-5 pure-5">
                <label>策略名称：</label>
                <input id="strategyName" name="strategyName" type="text" required/>
            </div>
 
            <div class="pure-control-group p-b-5 pure-5">
                <label>默认策略：</label>
                <input id="isDefault" name="isDefault" ng-model="dataItem.isDefault" type="checkbox" ng-change="change(this)"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>允许盲收：</label>
                <input id="isAllowBlind" name="isAllowBlind" type="checkbox" />
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>允许超收：</label>
                <input id="isAllowOver" name="isAllowOver" type="checkbox"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label>是否可用：</label>
                <input id="isActive" name="isActive"type="checkbox"  ng-checked = "dataItem.isDefault" ng-disabled="dataItem.isDefault" />
            </div>

            <div class="pure-control-group p-b-10 pure-5">
                <label>超收比例：</label>
                <input id="allowScale" name="allowScale" type="number"/>&nbsp;%
            </div>

            <!--<div class="pure-control-group p-b-5 pure-5">-->
                <!--<label>需要质检：</label>-->
                <!--<input id="isNeedIqc" name="isNeedIqc" type="checkbox" value="1"/>-->
            <!--</div>-->

            <div class="pure-control-group p-b-5 pure-5">
                <label>启用箱管理：</label>
                <input id="isManageCartonNo" name="isManageCartonNo" type="checkbox" value="1"/>
            </div>

            <div class="pure-control-group p-b-5 pure-5">
                <label style="color:red; width:265px;">注：超收数量采用向上取整方式进位。</label>
            </div>

        </div>
    </div>


</script>



