<div class="content-wrap" ng-controller="strategyReplenishController">
    <kendo-grid id="strategyReplenishGrid" options="mainGridOptions">

    </kendo-grid>
</div>



<script id="replenishEditor" type="text/x-kendo-template">
    <div class="edit-form-container">
        <div class="pure-body window-form">
            <div class="clearfix">
                <div class="pure-control-group p-b-5 pure-5">
                    <label>策略名称：</label>
                    <input id="strategyName" name="strategyName" type="text" required/>
                </div>


                <div class="pure-control-group p-b-5 pure-5">
                    <label>配货缺货时触发：</label>
                    <input id="isByAllocation" name="isByAllocation" type="checkbox" />
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>库存预警触发：</label>
                    <input id="isByLowerLimit" name="isByLowerLimit" type="checkbox" />
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>是否默认：</label>
                    <input id="isDefault" name="isDefault" type="checkbox" ng-model="isDefault" ng-change="change(this)"/>
                </div>

                <div class="pure-control-group p-b-5 pure-5">
                    <label>是否可用：</label>
                    <input id="isActive" name="isActive" type="checkbox" ng-model="isActive" ng-checked = "isDefault" ng-disabled="isDefault" />
                </div>

            </div>

            <div class="pure-control-group p-b-5 ">
                <label>描述：</label>
                <textarea  id="description" name="description" cols="40" rows="5"></textarea>
            </div>



        </div>
    </div>


</script>