<div class="content-wrap" ng-controller="problemTicklingController">
    <div class="panel panel-default">

        <panel_heading_search bind-ui="problemTicklingGrid">
            <div class="panel-group">
                <label>问题编号</label>
                <input type="text" ng-model="query.key" />
            </div>
            <div class="panel-group ">
                <label>创建开始时间</label>
                <wms-Date-Time-Picker id="problemCreateDateFrom"  format="yyyy/MM/dd 00:00:00" is-query="true"/>
            </div>
            <div class="panel-group ">
                <label>创建结束时间</label>
                <wms-Date-Time-Picker id="problemCreateDateTo" format="yyyy/MM/dd 00:00:00" is-query="true"/>
            </div>
            <div class="panel-group">
                <label>问题标题</label>
                <input type="text" ng-model="query.summary" />
            </div>
            <div class="panel-group">
                <label>问题内容</label>
                <input type="text" ng-model="query.description" />
            </div>
            <div class="panel-group">
                <label>状态</label>
                <div class="panel-select">
                    <select id="query.status" name="query.status" ng-model="query.status">
                        <option value="Open">开始</option>
                       <!-- <option value="In Progress">进行中</option>-->
                        <option value="Reopened">重新打开</option>
                        <option value="Resolved">已解决</option>
                        <option value="Closed">关闭</option>
                    </select>
                </div>
            </div>
            <div class="panel-group">
                <label>创建人</label>
                <input type="text" ng-model="query.problemCreateUser" />
            </div>
        </panel_heading_search>

        <div class="panel-body">
            <div kendo-grid="problemTicklingGrid" options="mainGridOptions"></div>
        </div>
    </div>

    <div kendo-window="problemPopup" k-title="'问题详情'" k-model="true"
         k-resizable="false"
         k-width="600" k-height="340" k-visible="false"
         k-content="{ url: './tmpl/popup/problemDetail.html'}"></div>


    <!--新增Popup方式-->
    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="problemTicklingPopup" k-title="'问题反馈新增'"
         k-resizable="false" k-modal="true" k-visible="false" style="width: 600px;">
        <div class="k-edit-form-container">
            <div class="window-form pure-body">
                <div class="pure-control-group p-b-5">
                    <label>问题标题</label>
                    <input id="summary" name="summary" type="text" style="width:280px;" required />
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>所属模块</label>
                    <div class="panel-select">
                        <select name="components" id="components" required>
                            <option value="">--请选择--</option>
                            <option value="11100">出库</option>
                            <option value="11101">入库</option>
                            <option value="11102">库内</option>
                            <option selected value="11103">公共</option>
                        </select>
                    </div>
                </div>
                <div class="pure-control-group p-b-5">
                    <label style="float:left">问题描述</label>
                    <textarea rows="10" cols="58" name="description" id="description"  required></textarea>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>问题类别</label>
                    <div class="panel-select">
                        <select name="issuetype" id="issuetype" required>
                            <option selected value="Bug">缺陷</option>
                            <option value="New Feature">新功能</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-primary k-grid-update" ng-click="problemTicklingConfirm()"><span class="k-icon k-update"></span>确定</a>
                <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="problemTicklingClose()"><span class="k-icon k-cancel"></span>关闭</a>
            </div>
        </div>
    </div>


    <!--编辑Popup方式-->
    <div class="k-popup-edit-form k-window-content k-content ng-scope" kendo-window="editProblemTicklingPopup" k-title="'问题反馈编辑'"
         k-resizable="false" k-modal="false" k-visible="false" style="width: 600px;">
        <div class="k-edit-form-container">
            <div class="window-form pure-body">
                <div class="pure-control-group p-b-5">
                    <label>问题编号</label>
                    <input id="problemKey" name="problemKey" ng-model="problemKey" disabled style="height: 24px;width: 144px;"/>
                </div>
                <div class="pure-control-group p-b-5" >
                    <label>所属模块</label>
                    <div class="panel-select">
                        <select name="problemComponents" id="problemComponents">
                            <option value="">--请选择--</option>
                            <option value="11103">公共</option>
                            <option value="11100">出库</option>
                            <option value="11101">入库</option>
                            <option value="11102">库内</option>
                        </select>
                    </div>
                </div>
                <div class="pure-control-group p-b-5">
                    <label>问题标题</label>
                    <input id="problemSummary" name="problemSummary" ng-model="problemSummary" type="text"  style="width:280px;" required />
                </div>
                <div class="pure-control-group p-b-5">
                    <label style="float:left">问题描述</label>
                    <textarea rows="10" cols="58" name="problemDescription"  id="problemDescription" ng-model="problemDescription" required></textarea>
                </div>
                <!--<div class="pure-control-group p-b-5" >
                    <label>问题类别</label>
                    <div class="panel-select">
                        <select name="problemIssuetype" id="problemIssuetype" required ng-model="problemIssuetype">
                            <option selected value="Bug">缺陷</option>
                            <option value="New Feature">新功能</option>
                        </select>
                    </div>
                </div>-->
            </div>
            <div class="k-edit-buttons k-state-default">
                <a class="k-button k-button-icontext k-primary k-grid-update" ng-click="editProblemTicklingConfirm()"><span class="k-icon k-update"></span>确定</a>
                <a class="k-button k-button-icontext k-grid-cancel" href="#" ng-click="editProblemTicklingClose()"><span class="k-icon k-cancel"></span>关闭</a>
            </div>
        </div>
    </div>

</div>




